.title {
    color: #666666;
}

.game-over-modal {
    text-align: center;
}

.game-over-modal > * {
    margin-top: 40px;
}

.initial-screen > div {
    margin-top: 20px;
}

.initial-screen-start {
    display: flex;
    background-color: #f5f5f5;
    width: 992px;
    height: 348px;
    align-content: center;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}

.initial-screen-start > * {
    margin-bottom: 20px;
}

.tree {
    width: 134px;
    height: 222px;
}